.table-container {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
}

.table-header-cell {
  padding: 10px 0 10px 16px;
  text-align: left;
  color: $font-gray-color;
  font-size: $default-font-size;
}

.table-header-cell__img {
  width: 10px;
  position: relative;
  margin-right: 2px;
}

.table-body {
  background-color: $table-cell-background;
}

.table-body__row {
  border-bottom: 1px solid $dark-gray;
}
.table-body__cell {
  padding: 10px 8px 10px 16px;
  text-align: left;
  color: $font-black-color;
  font-size: $default-font-size;
}

.table-body__cell--title-bold {
  font-weight: bold;
}
