.timeline {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 24px 12px;
  max-width: 500px;
}

.timeline__item {
  display: flex;
  align-items: flex-start;
  padding: 16px 0px;
  flex: 1 1 auto;
  &::before {
    border-left: 2px solid $dark-gray;
    content: "";
    left: 22px;
    position: absolute;
    top: 10px;
    bottom: -20px;
    width: 2px;
    z-index: 1;
  }
}
